body {
  margin: 0;
  font-family: "Jost", Arial, Helvetica, sans-serif;
}

.triangle {
  position: absolute;
  left: 0;
  clip-path: polygon(0 0, 100% -1%, 0 102%);
}

.tri-1 {
  height: 2em;
  width: 5%;
}

.tri-2 {
  height: 3em;
  width: 6%;
}

.tri-3 {
  height: 4em;
  width: 7%;
}

.tri-4 {
  height: 5em;
  width: 8%;
}

.tri-5 {
  height: 6em;
  width: 9%;
}

.row {
  height: 1em;
}

.red {
  background-color: #fe1e25;
}

.orange {
  background-color: #fe941d;
}

.yellow {
  background-color: #ffff00;
}

.green {
  background-color: #06bd02;
}

.blue {
  background-color: #00296d;
}

.purple {
  background-color: #750087;
}

.black {
  background-color: #000000;
}

.white {
  background-color: #ffffff;
}

.brown {
  background-color: #603814;
}

.light-blue {
  background-color: #6fcfd7;
}

.pink {
  background-color: #feafc5;
}

.about {
  margin: 5vw 20vw;
}
